[submodule "micropython-mqtt"]
	path = libs/micropython-mqtt
	url = https://github.com/peterhinch/micropython-mqtt.git
[submodule "MicroPython_Statistics"]
	path = libs/MicroPython_Statistics
	url = https://github.com/rcolistete/MicroPython_Statistics.git
[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython.git
[submodule "libs/hamqa"]
	path = libs/hamqa
	url = https://github.com/hvalev/hamqa.git
[submodule "libs/hx711"]
	path = libs/hx711
	url = https://github.com/robert-hh/hx711.git
